body{
    background-image : linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.actions{
    background-color: #FFC400;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn:hover{
    color: black;
    background-color: #FFAB00;
}
.btn{
    color: black;
    background-color: #FFC400;
    text-align: center;
}
.form
{
	max-width: 750px;
	border-radius: 20px;
	margin: auto;
	background: #fafafa;
	box-sizing: border-box;;
	padding: 40px;
	color: #fff;
	opacity: 75%;
	margin-top: 100px;
}